version: "3"
services:
  app:
    image: jc21/nginx-proxy-manager:2
    container_name: webproxymgr
    environment:
      DISABLE_IPV6: 'true'
    networks:
      defnet-prod:
        ipv4_address: 10.101.0.101
    restart: always
    
    ports:
      # Public HTTP Port:
      - '80:80'
      # Public HTTPS Port:
      - '443:443'
      # Admin Web Port
      - '9101:81'
      # Api Web Port:
      - '9102:3000'
    
    volumes:
      # This isn't needed directly, but just associates the volume with the container
      # To prevent it from being labled as unused / deletable
      - type: volume
        source: {{ vol_name }}
        target: /notrequired

      # Configuration file
      - type: bind
        source: {{ config_file }}
        target: /app/config/production.json

      # letsencrypt configuration
      - type: bind
        source: {{ letsencrypt_dir }}
        target: /etc/letsencrypt

      # Data directory for temp data
      - type: bind
        source: {{ data_dir }}
        target: /data

volumes:
  {{ vol_name }}:
    external: true

networks:
  defnet-prod:
    external: true


